.option {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
  align-items: center;
  padding: 0.25rem 0.25rem 0.25rem 0.75rem;
  border-radius: 0.25rem;
  background: white;
  border: 1px solid #ddd;
}

.option label {
  font-size: 0.8rem;
}