.filter {
  display: grid;
  gap: 1rem;
  background: white;
  border-radius: 0.25rem;
  padding: 0.75rem;
  border: 1px solid #ddd;
}

.active {
  box-shadow: 0 0 0.05rem 0.1rem rgba(0,0,255,0.25);
}

.name {
  margin: 0;
}

.options {
  display: grid;
  gap: 0.5rem;
}