.loader {
  position: absolute;
  inset: 0;
  height: 100%;
  display: grid;
  place-items: center;
}

.spinner {
  display: grid;
  place-items: center;
  color: lightgrey;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}